@tailwind base;

@tailwind components;

@tailwind utilities;

.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    align-items: stretch;
    padding: 1rem;
    align-content: space-around;
    justify-content: space-between;
}
