@tailwind base;

@tailwind components;

@tailwind utilities;

.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    align-items: stretch;
    padding: 1rem;
    align-content: space-around;
    justify-content: space-between;
}

.speckled-gradient {
    background-image: repeating-radial-gradient(
            circle at center center,
            transparent 0px,
            transparent 2px,
            rgba(0, 0, 0, 0.03) 2px,
            rgba(0, 0, 0, 0.03) 3px,
            transparent 3px,
            transparent 5px,
            rgba(0, 0, 0, 0.03) 5px,
            rgba(0, 0, 0, 0.03) 7px
        ),
        repeating-radial-gradient(
            circle at center center,
            rgb(255, 255, 255) 0px,
            rgb(255, 255, 255) 9px,
            rgb(255, 255, 255) 9px,
            rgb(255, 255, 255) 21px,
            rgb(255, 255, 255) 21px,
            rgb(255, 255, 255) 31px,
            rgb(255, 255, 255) 31px,
            rgb(255, 255, 255) 40px
        );
    background-size: 20px 20px;
}
